<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example420.cartel">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/star_wars_the_cartel_theme"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/star_wars_the_cartel_theme"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DownloadActivity"></activity>
        <activity android:name=".Gpay" />
        <activity android:name=".CartelIndie" />
        <activity android:name=".Buynow" />
        <activity android:name=".CartActivity" />
        <activity android:name=".RetroActivity" />
        <activity android:name=".SimulationActivity" />
        <activity android:name=".SportsActivity" />
        <activity android:name=".puzzleActivity" />
        <activity android:name=".AdventureActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".TypeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".forgotpwd" />
        <activity android:name=".sellbuy" />
        <activity android:name=".activity_login" />
        <activity android:name=".MainActivity_ad" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>